.main {
    margin: 50px 0 0 0;
}

.main h1 {
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
}

.main blockquote {
    font-size: 25px;
    text-transform: capitalize;
}

@media screen and (max-width: 1150px) {
    .main blockquote {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .main blockquote {
        text-align: center;
        font-size: 20px;
    }
}