.main {
    margin-top: 24px;
}

.main h1 {
    text-transform: capitalize;
    border-bottom: solid 2px var(--card-bg);
    text-align: center;
    letter-spacing: 1px;
    font-size: 40px;
    margin: 0 auto;
    width: 270px;
    padding-bottom: 10px;
}

.main section {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 52px 0 16px 0;
}

.main section hr {
    color: black;
}

.main div:first-of-type {
    width: 50%;
}

.main div:first-of-type h2 {
    text-transform:capitalize;
    letter-spacing: 1px;
    font-size: 25px;
}

.main div:first-of-type blockquote {
    text-transform:capitalize;
    letter-spacing: 1px;
}

.main div:first-of-type button {
    background-color: var(--secondary-color);
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    border: none;
}

.main div:first-of-type button :hover {
    border: dashed 2px var(--secondary-color);
    background-color: var(--background);
    padding: 10px;
}

.main div:first-of-type button a{
    color: black;
}

.main div:last-of-type {
    border: solid 1px var(--card-bg);
    background-color: var(--card-bg);
    border-radius: 10px;
    width: 27%;
}

.main div:last-of-type ul {
    text-transform: capitalize;
    list-style-type: none;
    
    font-size: 25px;
}

.main div:last-of-type ul li {
    margin-top: 30px;
}

.main .secondSection {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1150px) {
    .main div:first-of-type {
        width: 50%;
    }

    .main div:last-of-type {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {

    .main h1 {
        text-align: start;
        margin: 0px;
        width: 80%;
    }

    .main section  {
        flex-direction: column;
        width: 100%;
    }

    .main .secondSection {
        flex-direction: column;
    }

    .main div:first-of-type {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: solid 1px var(--card-bg);
    }

    .main div:first-of-type blockquote {
       font-size: 13px;
       margin: 0px;
       padding: 0px;
    }

    .main div:first-of-type blockquote {
        margin-bottom: 20px;
        padding: 2px;
    }
    
    .main div:last-of-type {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 0;
    }

    .main div:last-of-type {
        padding: 5px;
    }

    .main div:last-of-type ul {
        margin: 0px;
        padding: 0px;
    }

    .main div:last-of-type ul {
        padding-bottom: 20px;
    }
}