.main h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.plMain section {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.plMain section .mainDiv {
    border: solid 1px;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--card-bg);
    margin: 20px 30px 0 0;
}

.plMain section .mainDiv .textDiv {
    padding:2px;
}

.plMain section .mainDiv .textDiv h3 {
    margin-top: -5px;
}

.plMain section .mainDiv .textDiv p{
    margin-top: -15px;
}

.plMain section .mainDiv .textDiv div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.plMain section .mainDiv .textDiv button {
    padding: 8px;
    background-color: var(--secondary-color);
    border: none;
    transition: 1s;
}

.plMain section .mainDiv .textDiv button:hover{
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 3px 5px black;
}

.plMain section .mainDiv .textDiv button a {
    color: black;
}

@media screen and (max-width: 1150px) {

    .plMain {
        margin-left: 20px;
    }

    .plMain section {
        display:grid;
        place-items: center;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .plMain section .mainDiv  {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .plMain {
        margin-left: 0px;
    }

    .plMain section {
        display:grid;
        place-items: center;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
        margin-left: 30px;
    }

    .plMain section .mainDiv  {
        width: 100%;
    }
}