.main h1 {
    font-size: 65px;
}

.main section {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px var(--card-bg);
    padding: 10px;
}

.main ul {
    list-style-type: none;
}

.main ul li {
    font-size: 30px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.main ul li a {
    color: black;
}

.main section div {
    width: 500px;
    height: 300px;
}

.main form {
    border: solid 1px var(--card-bg);
    background-color: var(--card-bg);
    border-radius: 10px;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
}

.main form label {
    padding-top: 20px;
    font-size: 18px;
}

.main form input {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    border: none;
}

.main form .inp {
    height: 50px;
}

.main form button {
    padding: 7px;
    font-size: 20px;
    background-color: var(--secondary-color);
    border:none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: end;
}

@media screen and (max-width: 500px) {

    .main h1 {
        font-size: 45px;
        border-bottom: solid 1px var(--card-bg);
        width: 80%;
        padding-bottom: 10px;
    }

    .main section {
        flex-direction: column-reverse;
    }

    .main section div {
        width: 100%;
    }

    .main ul {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .main ul {
        margin: 10px 0 10px 0;
    }

    .main form {
        width: 90%;
        padding: 10px;
    }
}